* {padding:0;margin:0;box-sizing:border-box;}
html,body {width:100%;height:100%;}

body {
  font-family:Helvetica, Arial, sans-serif;
  font-size:15px;
  background-color:#fafafa;
  min-width:900px;
}

a {
  color:#3a76ff;
  text-decoration: none;
}

section.page-header {
  position:relative;
  width:100%;
  color:#fff;
  background-color:#3a76ff;
  background-image: linear-gradient(120deg, #3a76ff, #155799);
  padding:72px;
}

.page-header h1 {
  font-weight:bold;
  font-size:48px;
  line-height:72px;
  vertical-align:middle;
}

.page-header h2 {
  font-weight:300;
  font-size:16px;
  line-height:24px;
}

.page-header .btn {
  display:inline-block;
  padding:0 8px;
  height:36px;
  line-height:36px;
  border-radius:2px;
  border:1px solid #fff;
  font-size:16px;
  font-weight:normal;
  margin:16px 0;
  vertical-align:middle;
}

.page-header a.btn {
  color:white;
  text-decoration: none;
  transition:opacity 0.15s linear;
}

.page-header a.btn:hover {
  opacity:0.5;
}

nav.root-nav {
  position:absolute;
  left:72px;right:72px;
  bottom:0;
}

.root-nav a {
  cursor:pointer;
  text-decoration: none;
  color:white;
  transition:opacity 0.15s linear;
}

.root-nav a:hover {
  text-decoration: none;
  opacity:0.5;
}

.root-nav ul {
    margin-left:-8px;
}

.root-nav li {
  display:inline-block;
  font-size:14px;
  padding:0 8px;
  height:48px;
  line-height:48px;
  list-style-type: none;
  text-transform: uppercase;
}

.root-nav li.selected {
  border-bottom:2px solid yellow;
}

section.content {
  padding:0 72px 56px 72px;
  line-height:160%;
}

.content ul {

}

.content li {
  margin-left:24px;
}

.content code {
  border-radius:2px;
  padding:.25em .5em;
  background-color:#efeff4;
}

.clearfix:after {
  content: "."; 
  display: block; 
  height: 0; 
  font-size:0;  
  clear: both; 
  visibility:hidden;
}

.source {
  width:50%;
  float:left;
  padding-right:1em;
}
.result {
  width:50%;
  float:left;
  padding-left:1em;
}

.source pre, .result pre, .source #editor {
  height:280px;
}

p {
  margin:.75em 0;
  line-height:160%;
}

p.elapsed {
  color:rgba(0,0,0,.54);
  font-size:12px;
}

p.note {
  font-size:90%;
  font-weight:bold;
}

pre {
  width:100%;
  height:100%;
  white-space: pre-wrap;
}

pre code {
  font-size:12px;
  font-weight:normal; 
  display:block;
  width:100%;
  height:100%;
  padding:.5em;
  overflow:auto;
  line-height:130%;
}

code {
  font-family: 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;
}

code.objectivec {
  background-color:#ffffff;
}

code.swift {
  background-color:#efeff4;
}

.content h1 {
  font-size:24px;
  color:rgba(0,0,0,0.87);
  margin:56px 0 24px 0;
}

.content h3 {
  font-size:16px;
  color:#3a76ff;
  margin:16px 0;
}

.source-header select {
  margin:16px 0 16px 16px;
  float:left;
  font-size:16px;
}

.source-header h3 {
  float:left;
}

input.url {
  font-size:12px;
  width:75%;
  padding:.5em;
}

button {  
  font-size:14px;
  padding:0 8px;
  line-height:36px;
  height:36px;
  border-radius:2px;
  color:white;
  background-color:#3a76ff;
  border:none;
}

button:focus, select:focus, .swift:focus {
  outline:none;
}

button:hover {
  box-shadow:0 3px 8px 0 rgba(0,0,0,.25);
}

button:disabled {
  font-size:14px;
  background-color:#f0f0f0;
  color:#ccc;
  box-shadow:none;
}

button#retrieve {
  min-width:120px;
  margin-bottom:1em;
}

button#convert {
  width:100%;
  margin:1em 0;
  cursor:pointer;
}

hr {
  border:none;
  border-top:1px dotted #ccc;
  margin:16px 0;
}

footer {
  font-size:10px;
  color:#777;
  margin:56px 0 0px 0;
}
